.Loader-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.Loader-svg {
  width: 3rem;
}

.Loader-message {
  font-size: 1.2rem;
}
