.Header-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 2.4rem;
  height: 20rem;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 20%, #14151b 85%),
    url(https://image.tmdb.org/t/p/original/2KY9lXKCy2UpeKaBpNtFNW3S53D.jpg);
  background-size: cover;
}

.Header-content {
  width: 95rem;
  margin: 0 auto;
}

.Header-title {
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.Header-subtitle {
  font-family: "Esteban", serif;
  color: #606a70;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}
