.FilmInfo-container {
  width: 18.5rem;
}

.FilmInfo-titleContainer {
  text-transform: uppercase;
  font-weight: 500;
  /* display: flex;
  flex-flow: wrap;
  align-items: flex-start; */
  margin: 0.5rem 0 0.2rem 0;
}

.FilmInfo-title {
  padding-right: 0.5rem;
}

.FilmInfo-year {
  font-size: 1.2rem;
  color: #606a70;
  line-height: 1.9rem;
}

.FilmInfo-directors {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
