@import "~antd/dist/antd.dark.css";

html,
body,
#root {
  background-color: #14151b;
}

h1,
h2,
h3,
p {
  font-family: "Montserrat", sans-serif;
  color: #f3f3f3;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

html {
  background-color: #14151b;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

body {
  line-height: inherit;
}
