.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filmsContainer {
  width: 100%;
  display: grid;
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
  grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
  grid-gap: 2rem;

  @media only screen and (min-width: 100rem) {
    grid-gap: 3rem;
  }

  @media only screen and (min-width: 240rem) {
    grid-gap: 5rem;
  }
}

.loadMore {
  animation: fadeIn 1s;
  height: 2.4rem;
  margin-top: 2.4rem;
  font-size: 1.2rem;
  color: #bcd;
  border: none;
  background-color: #567;
  border-radius: 0.3rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
